<!DOCTYPE html>
<html>
  <head>
    <title><%= __('title') %> | <%= __('intention3')%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="author" content="Vincent Evrard <vincent@ogre.be>">
    <meta name="description" content="<%= __('intention3')%>"> 
    <meta name="keywords" content="backspes, bcksp, backspace, art, book, typography, bcksp.es, backsp.es, bcksp-es, backsp-es, backsp">

    <meta property="og:title" content="<%= __('title') %> | <%= __('intention3')%>">
    <meta property="og:url" content="http://www.bcksp.es">
    <meta property="og:site_name" content="bcksp.es" />
    <meta property="og:description" content="<%= __('intention0')%> <%= __('intention1')%> <%= __('intention2')%> <%= __('intention3')%>"> 
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/icons/128/standby.png" type="image/png" >

    <meta name="distribution" content="global" />
    <meta name="resource-type" content="document" />

    <meta type="image/png" itemprop="image" content="/images/icons/128/standby.png">
    <link type="image/png" rel="image_src" href="/images/icons/128/standby.png">
    <link type="image/png" rel="shortcut icon" href="/images/icons/38/standby.png">
    <link type="image/png" rel="icon" href="/images/icons/38/standby.png">
    <link type="image/png" rel="apple-touch-icon" href="/images/icons/128/standby.png">


    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gbfblhjcfcoodfjhmcaejjbppkajgleb">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <script type="text/javascript">
      window.bcksp = {
        csrf : "<%= _csrf %>"
      };
      window.addEventListener("load", function(){

        $(".navbar-toggle").on('click ', function(){
          $(".navbar-collapse.collapse").toggleClass('in');
        });

        $(".popover-trigger").on("click", function(){
          $(".popover").toggleClass('in');
        }).on("blur", function(){
          $(".popover").removeClass('in');
        });

        $('body').popover({
          selector: '[rel=popover]',
          trigger: 'click',
        });

        if(inIframe()){
          $('.hideInIframe').hide();
          $('.cancelMarginOnIframe').css({
            margin: 0
          });
        }
      }, false);
      function inIframe () {
        try {
          return window.self !== window.top;
        } catch (e) {
          return false;
        }
      }
    </script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">bcksp.es</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% if(session.authenticated) { %>
                <li class="active">
                  <a href="/user/show"><%= session.User.email %></a>
                </li>
              <% } %>
              <% if(session.authenticated && session.User.admin) { %>
                <li><a href="/user"><%= __('menu_admin') %></a></li>
              <% } %>
              
                <li><a href="/app"><%= __('menu_download') %></a></li>
                <li><a href="/faq"><%= __('menu_faq') %></a></li>
            </ul>
            <div class="navbar-right">
              <% if(session.authenticated) { %>
                <form class="navbar-form navbar-right" action="/session/destroy" method="POST">
                  <input type="hidden" name="_methiod" value="delete" />
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <input type="submit" class="btn btn-link" value="<%= __('form_signout_submit')%>"></input>
                </form>
              <% } %>
            </div>
            <% if(!session.authenticated) { %>
              <div class="navbar-form navbar-right">
                <a href="/session/new" class="btn btn-success"><%= __('form_signin_submit')%>"</a>
                <a href="/user/new" class="btn btn-link"><%= __('form_signup_button')%></a>
              </div>
             
            <% } %>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <header class="text-center">
        <div class="container">
          <div class="row">
            <h1 class="col-sm-offset-2 col-sm-8">
              <%= __('title') %><br/>
              <i><%= __('description1')%></i>
            </h1>
          </div>  
        </div>  
        <button type="button" class="btn btn-sm btn-gradiant popover-trigger" ><i class="fa fa-question-circle fa-3x pull-left"></i> <%= __('description2_button') %></button>
        <div class="popover fade bottom" role="tooltip" id="popover682348">
          <div class="arrow"></div>
          <h3 class="popover-title"><%= __('description2_title') %></h3>
          <div class="popover-content">
            <%= __('description2') %>
          </div>
        </div>
      </header>


      <%- body %>
    </div>

    <div class="container">
      <hr>
        <footer class="footer text-center">
          <ul class="list-inline">
            <li>
            <a href="https://twitter.com/bckspes" target="_blank" class="btn btn-md btn-block btn-twitter">
              <i class="fa fa-2x pull-left fa-twitter-square"></i><%= __("twitter_follow")%>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/bcksp.es" target="_blank" class="btn btn-md btn-block btn-fb">
              <i class="fa fa-2x pull-left fa-facebook-square"></i><%= __("facebook_follow")%>
            </a>
          </li>
          <li>
            <a href="https://github.com/oogre/bcksp.es" target="_blank" class="btn btn-md btn-block btn-github">
              <i class="fa fa-2x pull-left fa-github-square"></i><%= __("github_follow")%>
            </a>
          </li>
        </ul>
        </footer>
    </div>


    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->



    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/1.jquery.js"></script>
    <script src="/js/2.jquery-validate.js"></script>
    <script src="/js/3.customValidate.js"></script>
    <script src="/js/4.bootstrap.min.js"></script>
    <script src="/js/5.underscore-min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
