
<p><%= __("mail_hello") %></p>
<p><%= __("mail_pwd_recovery_content") %>
	<br/>
	<a href="<%= link %>" target="_blank"><%= link %></a>
</p>

<p><%= __("mail_not_for_you") %></p>
<p><%= __("mail_signature") %></p>