<script type="text/javascript">
	window.addEventListener("load", function subscribeAndListen(){
        // When the document loads, send a request to users.testSocket
        // The controller code will subscribe you to all of the 'users' model instances (records)
        io.socket.get('/user/subscribe/');

        // Listen for the event called 'user'
        io.socket.on('user',function(obj){
            if (obj.verb == 'updated') {
                if(true === obj.data.online){
					var onlineUser = $(".user-online");
					onlineUser.text((parseInt(onlineUser.text()) || 0)+1);
                	$("[data-id='"+obj.id+"'] .onlineoffline").removeClass("fa-minus-circle").addClass("fa-check-circle");
                }else if(false === obj.data.online){

					var onlineUser = $(".user-online");
					onlineUser.text((parseInt(onlineUser.text()) || 0)-1);
                	$("[data-id='"+obj.id+"'] .onlineoffline").removeClass("fa-check-circle").addClass("fa-minus-circle");
                }
                if(obj.data.volume){
					var elem = $("[data-id='"+obj.id+"'] .volume");
					var total = $(".volume-total");
					var oldTotalVolume = parseInt(total.text()) || 0;
					var elemOldVolume = parseInt(elem.text()) || 0;
					total.text(oldTotalVolume - elemOldVolume + parseInt(obj.data.volume));
					elem.text(obj.data.volume);
                }
            }
            else if(obj.verb == "created"){
				var totalUser = $(".user-total");
				totalUser.text((parseInt(totalUser.text()) || 0)+1);
				$("tr:last").after(JST["assets/templates/insertUser.ejs"]({
					user: obj.data,
					csrf: window.bcksp.csrf || ""
				}));
				$('tr:last .destroyForm').submit(destroyForm);
			}else if(obj.verb == "destroyed"){
				var totalUser = $(".user-total");
				totalUser.text((parseInt(totalUser.text()) || 0)-1);
				$("tr[data-id='"+obj.id+"']").remove();
			}
		});

        var destroyForm = function(event){
        	if(confirm("Would you want to DELETE this user ?")){
	        	$.post(event.target.action, {
					_method : event.target._method.value,
					_csrf : event.target._csrf.value
				});
        	}
			return false;
        };
        
		$('.destroyForm').submit(destroyForm);
		
	}, false);  	
</script>


<div class="container">
	<h3>Users</h3>
	<table class="table">
		<tr>
			<th></th>
			<th>ID</th>
			<th>email</th>
			<th>volume</th>
			<th>admin</th>
			<th></th>
			<th></th>
		</tr>
		<% 
		var totalVolume = 0;
		var offline = 0;

		_.each(users, function(user){ 

			totalVolume += (user.volume || 0);

		%>
		<tr data-id="<%= user.id %>" data-model="user">
			<td><i class="onlineoffline fa <% if(user.online) { %>fa-check-circle<% } else { offline ++; %>fa-minus-circle<%}%>"></i></td>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td class="volume"><%= user.volume || "-" %></td>
			<% if(user.admin) { %>
				<td><i class="fa fa-star"></i></td>
			<% } else { %>
				<td><i class="fa fa-star-o"></i></td>
			<% } %>

			<td><a href="/<%= req.session.locale %>/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/<%= req.session.locale %>/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
			<td><form class="destroyForm" action="/user/destroy/<%= user.id %>"  method="POST" >
				<input type="hidden" name="_method" value="delete" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
			</form></td>
		</tr>
		<% }) %>
		<tr>
		</tr>
		<tr id="total">
			<td>Total</td>
			<td>users : <span class="user-total"><%= users.length %></span></td>
			<td>online : <span class="user-online"><%= users.length - offline %></span></td>
			<td class="volume-total"><%= totalVolume || "-" %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>