<div class="container">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8 bg-primary highlight">
			<form action="/user/confirmation" method="POST" class="form-signin" id="signup-form">
				<h2 class="form-signin-heading"><%= __('form_signup_title') %></h2>
				
				<% 
					if(flash && flash.err){
						var errorName = flash.err.error;
						var errorData = flash.err.data || false;
						%>
							<div class="alert alert-danger">
								<div class="row">
									<div class="col-sm-2">
										<i class="fa fa-exclamation-triangle fa-3x pull-left"></i>
									</div>
									<div class="col-sm-10">
										 <%= __(errorName) %>
									</div>
								</div>
							</div>
						<% 	
					}
				%>

				<hr/>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 text-center">
						<a href="/auth/facebook" class="btn btn-md btn-fb"><i class="fa fa-2x pull-left fa-facebook-square"></i> <%= __("facebook_connect") %></a>
						<small><%= __("facebook_note") %></small>
					</div>
					<div class="col-xs-8">
						
					</div>
				</div>
				<div class="row">

				<div class="col-xs-5">
					<hr/>
				</div>
				<div class="col-xs-2 text-center line-height">
					<%= __("form_signup_or") %>
				</div>
				<div class="col-xs-5">
					<hr/>
				</div>
				</div>

				<div class="form-group">
					<label for="inputEmail"><%= __('form_signup_email_label') %>&nbsp;:</label>
					<input id="inputEmail"type="email" class="form-control" placeholder="<%= __('form_signup_email')%>" name="email" data-required data-pattern="^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$" value="<%= errorData && errorData.email ? errorData.email : '' %>"/>
				</div>
				<div class="form-group">
					<label for="password"><%= __('form_signup_pw_label') %>&nbsp;:</label>
					<input id="password" type="password" class="form-control" placeholder="<%= __('form_signup_pw')%>" name="password" minlength="6" data-required />
				</div>
				<div class="form-group">
					<input id="passwordConf" type="password" class="form-control" placeholder="<%= __('form_signup_pw_conf')%>" name="confirmation" minlength="6" data-required data-conditional="confirmation"/>
				</div>
				<br/>
				<div class="form-group">
					<input type="submit" class="btn btn-lg btn-success" value="<%= __('form_signup_submit') %>" />
				</div>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
		</div>
	</div>
</div>