<style type="text/css">
	#poster {
		width: 453.56pt;
		height: 673.512pt;
		margin: 0 auto;
		border: solid 1px #ccc;
		background: #fff;
		display: block;
	}
</style>

<script type="text/javascript">
	window.addEventListener("load", function subscribeAndListen(){
		$(".newposter").on("click", function(){
			window.location = window.location.protocol+"//"+window.location.host+window.location.pathname;
			return false;
		})

		$("<a[href='#paypal']")
		.replaceWith(JST["assets/templates/paypal.ejs"]({
			item_name : "<%= url %>"
		}));
		$(".twitter-share-button").on("click", function(){
			var url = "<%= sails.config.twitter.share.url%>";
			var text = "<%= url %>";
			url = url.replace('[TWEET_TEXT]', encodeURIComponent(text.slice(0, <%= sails.config.twitter.share.length %>)));
			window.open(url);
			return false;
		});
	}, false);
</script>


<div class="container">
	<div class="row highlight">
		<h4>poster : </h4>
		<div class="row text-center">
			
			<a href="#" class="btn btn-md newposter btn-content-lg btn-warning">
				<i class="fa fa-2x pull-left fa-refresh"></i>new poster
			</a>
			<a href="?txt=<%= sentence %>" class="btn btn-md btn-content-lg btn-info">
				<i class="fa fa-2x pull-left fa-repeat"></i>change backcground
			</a>
			<a href="#" class="twitter-share-button btn btn-md btn-twitter btn-content-lg">
              <i class="fa fa-2x pull-left fa-twitter-square"></i>Tweet
          	</a>
			<span><a href="#paypal"></a></span>
			
		</div>
		<div class="row">
			<iframe id="poster" src="<%= url %>"></iframe>
		</div>
	</div>
	<div class="row">
		<hr/>
	</div>
</div>




