<style type="text/css">
	#poster {
		width: 453.56pt;
		height: 673.512pt;
		margin: 0 auto;
		border: solid 1px #ccc;
		background: #fff;
		display: block;
	}
	#my-button_text{
		margin-top: 2px;
		width: 60px;
		color: #fff;
		background-color: #428bca;
		border-color: #357ebd;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	#clipboard_text{
		display: inline;
		width: auto;
		margin-left: -8px;
		height: 42px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
</style>

<script type="text/javascript" src="/public/zeroclipboard/dist/ZeroClipboard.js"></script>
<script type="text/javascript">
	window.addEventListener("load", function subscribeAndListen(){
		ZeroClipboard.config( { swfPath: "/public/zeroclipboard/dist/ZeroClipboard.swf" } );
		client = new ZeroClipboard( $("button#my-button_text") );

		$("<a[href='#paypal']")
		.replaceWith(JST["assets/templates/paypal.ejs"]({
			item_name : "<%= url %>",
			label : "<%= __('buy_now') %>"
		}));

		var shareUrl = window.location.href;
		$("#clipboard_text").val(shareUrl);

		$(".twitter-share-button").on("click", function(){
			var url = "<%= sails.config.twitter.share.url%>";
			var text = "<%= sails.config.twitter.tweet.poster %>";
			text = text.replace("[POSTER_URL]", window.location.href);
			url = url.replace('[TWEET_TEXT]', encodeURIComponent(text.slice(0, <%= sails.config.twitter.share.length %>)));
			window.open(url);
			return false;
		});
	}, false);
</script>


<div class="container">
	<div class="row highlight">
		<h4>poster : </h4>
		<div class="row text-center">
			<% 	var author = false; 
				if(owner && owner[0]){
					author = owner[0];
					if(req.session.User && req.session.User.id == author.id){
						author.self = true;
					}
				}
			%>
			<p>
				<%	if(author && author.self){ %>
					<%=
						__("poster_generator_intro_first_part")+__("poster_generator_intro_second_part_author")
					%>				
				<% 	} 
					else{ %>
					<%=
						__("poster_generator_intro_first_part")+((author && author.email) || __("poster_generator_intro_default_author"))+__("poster_generator_intro_second_part")
					%>
				<% 	} %>
			</p>
			<br/>
			<p>
				<%	if(author && author.self){ %>
					<%=
						__("poster_generator_share_author")
					%>				
				<% 	} 
					else{ %>
					<%=
						__("poster_generator_share_first_part")+((author && author.email) || __("poster_generator_intro_default_author"))+__("poster_generator_share_second_part")
					%>
				<% 	} %>
			</p>
			<br/>
			<p>
				 <%= __("poster_generator_buy")+type.price %>€
			</p>
		</div>
		<hr/>
		<div class="row text-center">
			
          	<a href="#" class="twitter-share-button btn btn-md btn-twitter btn-content-lg">
				<i class="fa fa-2x pull-left fa-twitter-square"></i>Tweet
			</a>

			<button id="my-button_text" data-clipboard-target="clipboard_text" class="btn btn-md btn-primary btn-content-lg input-group-addon">
				<i class="fa fa-2x pull-left fa-files-o"></i>
			</button>
			<input class="form-control" readonly="readonly" type="text" id="clipboard_text" value="<%= url %>"/>


			<span><a href="#paypal"></a></span>
		</div>
		<hr/>

		<div class="row">
			<iframe id="poster" src="<%= url %>"></iframe>
		</div>
	</div>
	<div class="row">
		<hr/>
	</div>
</div>




