<style type="text/css">
	#poster {
		width: 453.56pt;
		height: 673.512pt;
		margin: 0 auto;
		border: solid 1px #ccc;
		background: #fff;
		display: block;
	}
</style>

<script type="text/javascript">
	window.addEventListener("load", function subscribeAndListen(){
		$("<a[href='#paypal']")
		.replaceWith(JST["assets/templates/paypal.ejs"]({
			item_name : "<%= url %>"
		}));
		$(".twitter-share-button").on("click", function(){
			var url = "<%= sails.config.twitter.share.url%>";
			var text = "<%= sails.config.twitter.tweet.poster %>";
			text = text.replace("[POSTER_URL]", window.location.href);
			url = url.replace('[TWEET_TEXT]', encodeURIComponent(text.slice(0, <%= sails.config.twitter.share.length %>)));
			window.open(url);
			return false;
		});
	}, false);
</script>


<div class="container">
	<div class="row highlight">
		<h4>poster : </h4>
		<div class="row text-center">
			<a href="#" class="twitter-share-button btn btn-md btn-twitter btn-content-lg">
              <i class="fa fa-2x pull-left fa-twitter-square"></i>Tweet
          	</a>
			<span><a href="#paypal"></a></span>
		</div>
		<div class="row">
			Ce poster à été créé, par un algorythme qui archive tout le texte que vous supprimez sur le web.
			Les posters signés sont généré et partagé publiquement par leurs auteurs. 
			Vous pouvez acheter ce poster imprimé en couleur au format 40 x 59.4cm pour <%= type.price %>€
		</div>
		<div class="row">
			<iframe id="poster" src="<%= url %>"></iframe>
		</div>
	</div>
	<div class="row">
		<hr/>
	</div>
</div>




