<style type="text/css">
	#poster {
		width: 453.56pt;
		height: 673.512pt;
		margin: 0 auto;
		border: solid 1px #ccc;
		background: #fff;
		display: block;
	}

</style>


<script type="text/javascript">
	window.addEventListener("load", function subscribeAndListen(){
		$(".newposter").on("click", function(){
			window.location = window.location.protocol+"//"+window.location.host+window.location.pathname;
			return false;
		})

		$("<a[href='#paypal']")
		.replaceWith(JST["assets/templates/paypal.ejs"]({
			item_name : "<%= url %>",
			label : "<%= __('buy_now') %>"
		}));

		var shareUrl = window.location.protocol+"//"+window.location.host+"/<%= req.session.locale||'en' %>/poster/show/<%= id %>";
		$("#share").attr("href", shareUrl);


		$(".twitter-share-button").on("click", function(){
			var url = "<%= sails.config.twitter.share.url%>";
			var text = "<%= sails.config.twitter.tweet.poster %>";
			text = text.replace("[POSTER_URL]", shareUrl);
			url = url.replace('[TWEET_TEXT]', encodeURIComponent(text.slice(0, <%= sails.config.twitter.share.length %>)));
			window.open(url);
			return false;
		});
	}, false);
</script>




<div class="container">
	<div class="row highlight">
		<h4>poster : </h4>
		<div class="row text-center">
			<div>
				<a href="#" class="btn btn-md newposter btn-content-lg btn-warning">
					<i class="fa fa-2x pull-left fa-refresh"></i><%= __("poster_generator_new")%>
				</a>
				<a href="?txt=<%= sentence %>" class="btn btn-md btn-content-lg btn-info">
					<i class="fa fa-2x pull-left fa-repeat"></i><%= __("poster_generator_change_background")%>
				</a>
				<a href="#" id="share" class="btn btn-md btn-primary btn-content-lg">
					<i class="fa fa-2x pull-left fa-share-alt"></i><%= __("poster_generator_share") %>
				</a>

				<span><a href="#paypal"></a></span>
			</div>
		</div>
		<div class="row">
			<iframe id="poster" src="<%= url %>"></iframe>
		</div>
	</div>
	<div class="row">
		<hr/>
	</div>
</div>




