<script type="text/javascript">
	

</script>

</script>
<div class="container">
	<h3><%= __("download_title") %></h3>
	<table class="table">
		<tr>
			<th><%= __("download_status") %></th>
			<th><%= __("download_app") %></th>
			<th><%= __("download_install") %></th>
			<th><%= __("download_help_us") %></th>
		</tr>
		<% _.each(apps, function(app){ %>
			<tr data-id="<%= app.extension_id %>" data-model="app">
				<td>
					<i class="onlineoffline fa  <% if(app.extension_link) { %>fa-check-circle<% } else {%>fa-minus-circle<%}%>"></i>
				</td>
				<td>
					<a href="<%= app.extension_link %>" target="_blank" class="btn btn-xs btn-link">
						<%= app.application_name %>
					</a>
				<td>
					<a href="<%= app.extension_link %>" target="_blank" class="btn btn-xs btn-warning install <% if(!app.extension_link){ %> disabled <% } %>">
						<i class="fa fa-download fa-2x pull-left"></i><span><%= __('download_extension_'+app.application_name.split(" ").join("_").toLowerCase()) %></span>
					</a>
					<a href="<%= app.help_link %>" target="_blank" class="btn btn-xs btn-link">
						<span><%= __("download_help") %></span>
					</a>
				</td>
				<td>
					<% if(!app.extension_link){ %>
						<a href="<%= app.devlink %>" target="_blank" class="btn btn-xs btn-link">
							<i class="fa fa-github fa-2x pull-left"></i><span><%= __("download_fork") %></span>
						</a>	
					<% } %>
				</td>
			</tr>
		<% }); %>
		<tr class="info">
			<td></td>
			<td><a href="mailto:vincent@ogre.be" target="_blank" class="btn btn-xs btn-link">
					<%= __("dev_proposition") %>
				</a>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>