<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10 highlight">
			<h2 class="form-signin-heading"><%= __('FAQ_title') %></h2>
			<dl>
				<dt><%= __('FAQ_question_1') %></dt>					
  				<dd><%= __('FAQ_answer_1') %></dd>
				<dt><%= __('FAQ_question_2') %></dt>
				<dd><%= __('FAQ_answer_2') %></dd>
				<dt><%= __('FAQ_question_3') %></dt>
				<dd><%= __('FAQ_answer_3') %></dd>
				<dt><%= __('FAQ_question_4') %></dt>
				<dd><%= __('FAQ_answer_4') %></dd>
			</dl>
		</div>
	</div>
</div>
