<script type="text/javascript">
	var tempscript;
	var onFetchComplete = function (data) {
		var getFirstProp = function (obj) {
			for (var i in obj) return obj[i];
		}
		var stripTags = function (s) {
			return s.replace(/<\w+(\s+("[^"]*"|'[^']*'|[^>])+)?>|<\/\w+>/gi, "");
		}
		document.body.removeChild(tempscript);
		tempscript = null
		var s = getFirstProp(data.query.pages).extract;
		s = stripTags(s).replace("...", "");
		var start = Math.floor(Math.random()*s.length);
		s = s.slice(start, start+Math.floor(Math.random()*s.length));
		populateLastBackspace(s);
    }

	var randomBackspace = function (length){
		tempscript = document.createElement("script");
		tempscript.type = "text/javascript";
		tempscript.id = new Date().getTime();
		tempscript.src = "http://en.wikipedia.org/w/api.php"
        + "?action=query&generator=random&prop=extracts"
        + "&exchars="+length+"&format=json&callback=onFetchComplete&requestid="
        + Math.floor(Math.random()*999999).toString();
      	document.body.appendChild(tempscript);
	}

	
	var autoBackspace = function(){
		randomBackspace(Math.floor(Math.random() * 50));
	};
	var timerAutoBackspace;
	var resetAutoBackspace = function(){
		clearTimeout(timerAutoBackspace);
		timerAutoBackspace = undefined;
		timerAutoBackspace = setTimeout(autoBackspace, Math.random()*10000);		
	}
	
	var populateLastBackspace = function(data){
		if(data){
			$(".lastbackspace .book").text(data + " " + $(".lastbackspace .book").text());
		}
		resetAutoBackspace();
	}

	window.addEventListener("load", function subscribeAndListen(){
		// When the document loads, send a request to users.testSocket
		// The controller code will subscribe you to all of the 'users' model instances (records)
		io.socket.get('/backspace/watch/');

		// Listen for the event called 'user'
		io.socket.on('backspace',function(obj){
			if(obj.verb == 'created'){
				populateLastBackspace(obj.data.backspcaced);
			}
		});

		$(".btn-fb").on("click", function(event){
			var button = $(this);
			var icon = button.find(".fa:last-child");
			icon.removeClass("fa-download").addClass("fa-circle-o-notch").addClass("fa-spin");
		});

		$(".install").on("click", function(){
			var button = $(this);
			var icon = button.find(".fa-download");
			button.removeClass("btn-warning").addClass("btn-info");
			icon.removeClass("fa-download").addClass("fa-circle-o-notch").addClass("fa-spin");
			
			if(navigator.userAgent.toLowerCase().indexOf('chrome') > -1){
				if(!chrome.app.isInstalled){
					chrome.webstore.install('', function(data){
						icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-check-circle");
						button.removeClass("btn-info").addClass("btn-success");

						setTimeout(function(){
							<% if(session.authenticated) { %>
								document.location = "/<%= req.session.locale %>/user/show";
							<% }else { %>
								document.location = "/<%= req.session.locale %>/user/new";
							<% }%>
						}, 200);

					}, function(data){
						icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-times-circle");
						button.removeClass("btn-info").addClass("btn-danger");
					});
				}
			}
			else if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
			{
				setTimeout(function(){
					<% if(session.authenticated) { %>
						document.location = "/<%= req.session.locale %>/user/show";
					<% }else { %>
						document.location = "/<%= req.session.locale %>/user/new";
					<% }%>
				}, 200);
				var ffinstall = window.open("https://addons.mozilla.org/fr/firefox/addon/bckspes/");
				icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-check-circle");
				button.removeClass("btn-info").addClass("btn-success");	
			}
			else
			{
				icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-times-circle");
				button.removeClass("btn-info").addClass("btn-danger");
			}
			return false;
		});

		$.ajax("/backspace/last").done(function(data){
			populateLastBackspace(data);
		});


		$(".twitter-share-button").on("click", function(){
			var url = "<%= sails.config.twitter.share.url%>";
			var text = window.getSelection().toString() || $(".book").text() || "";
			url = url.replace('[TWEET_TEXT]', encodeURIComponent(text.slice(0, <%= sails.config.twitter.share.length%>)));
			window.open(url);
			return false;
		});
		
		$("body").on("mouseup", function(){
			var selected = window.getSelection().toString() || false;
			console.log(selected);
			$(".twitter-share-button")
			.each(function(n, button){
				console.log(button);
				var b = $(button);
				b.html(b.html().split(" (*)")[0])
				if(selected) b.html(b.html()+" (*)");
			});
		})


	}, false)  	
</script>

<style type="text/css">
	.info blockquote{
		font-size: 1em;
	}
</style>

<div class="info">
	<div class="container">
		<div class="row text-center">
			<hr/>
			<h1><%= __('intention4') %><br/><%= __('intention5') %></h1>
			<hr/>
		</div>		
		<div class="row">
			<p class="text-center">
				<%= __("download_header") %>
				<br/><br/>
			<a href="#" class="btn btn-lg btn-success install">
				<i class="fa fa-download fa-2x pull-left"></i><span><%= __('download_extension_web_browser') %></span>
			</a>
			<span class="help-block">
				<a href="/<%= req.session.locale %>/faq" class="btn btn-link"><%= __("download_help_annouce") %></a>
			</span>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row lastbackspace highlight">
		<h4>backspace : <small><%= __('live') %></small></h4>
		<a href="#" class="pull-left twitter-share-button btn btn-md btn-twitter btn-content-lg">
          <i class="fa fa-2x pull-left fa-twitter-square"></i>Tweet
      	</a>
		<div class="book"></div>
	</div>
	<div class="row">
		<hr/>
	</div>
</div>

<div class="container">
	<div class=" row text-center">
		<div class="col-sm-6 col-sm-offset-3">

			<div class="lead">
				<span class="lead"><%= __('intention1') %></span>
			</div>	
			<div class="lead">
				<%= __('intention0') %>
			</div>
			<div class="lead">
				<span class="lead"><%= __('intention2') %></span>
			</div>
		</div>
	</div>
</div>