<script type="text/javascript">
	var populateLastBackspace = function(data){
		if(data){
			$(".lastbackspace pre").html(data + " " + $(".lastbackspace pre").html());
		}
	}

	window.addEventListener("load", function subscribeAndListen(){
		// When the document loads, send a request to users.testSocket
		// The controller code will subscribe you to all of the 'users' model instances (records)
		io.socket.get('/backspace/watch/');

		// Listen for the event called 'user'
		io.socket.on('backspace',function(obj){
			if(obj.verb == 'created'){
				populateLastBackspace(obj.data.backspcaced);
			}
		});

		$(".install").on("click", function(){
			var button = $(this);
			var icon = button.find(".fa-download");
			button.removeClass("btn-warning").addClass("btn-info");
			icon.removeClass("fa-download").addClass("fa-circle-o-notch").addClass("fa-spin");
			
			if(typeof(chrome) != "undefined"){
				if(!chrome.app.isInstalled){
					chrome.webstore.install('', function(data){
						icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-check-circle");
						button.removeClass("btn-info").addClass("btn-success");
					}, function(data){
						icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-times-circle");
						button.removeClass("btn-info").addClass("btn-danger");
						setTimeout(function(){
							document.location = "/app";
						}, 200);
					});
				}
			}
			else{
				icon.removeClass("fa-circle-o-notch").removeClass("fa-spin").addClass("fa-times-circle");
				button.removeClass("btn-info").addClass("btn-danger");
				setTimeout(function(){
					document.location = "/app";
				}, 200);
			}
			return false;
		});

		$.ajax("/backspace/last").done(function(data){
			populateLastBackspace(data);
		});
	}, false)  	
</script>

<style type="text/css">
	.info blockquote{
		font-size: 1em;
	}
</style>

<div class="info">
	<div class="container">
		<div class="visible-lg-block visible-md-block row">
			<div class="col-md-12">
				<div class="col-md-offset-1 col-md-5">
					<br/>
					<br/>
					<blockquote class="blockquote-reverse"><%= __('intention1') %></blockquote>
				</div>
				<div class="col-md-6 lead">
					<%= __('intention0') %>
					<br/>
					<br/>
					<span class="lead"><%= __('intention2') %></span>
				</div>
			</div>
		</div>
		<div class="visible-sm-block visible-xs-block row">
			<div class="col-xs-12">
				<div class="lead">
					<%= __('intention0') %>
				</div>
				<div class="lead">
					<span class="lead"><%= __('intention2') %></span>
				</div>
				<blockquote><p><%= __('intention1') %></p></blockquote>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 visible-lg-block visible-md-block">
				<hr/>
				<div class="highlight">
					<h2 class=""><%= __('download_title') %></h2>
					<p>
						<%= __("download_header") %>
					</p>
					<hr/>
					<p class="text-center">
					<a href="#" class="btn btn-md btn-warning install">
						<i class="fa fa-download fa-2x pull-left"></i><span><%= __('download_extension_web_browser') %></span>
					</a>
					<span class="help-block">
						<a href="/app" class="btn btn-link"><%= __("download_help_annouce") %></a>
					</span>
					</p>
				</div>
				<hr/>
			</div>
			<div class="col-md-6 bg-primary highlight">
				<form action="/user/confirmation" method="POST" class="form-signin" id="signup-form">
					<h2 class="form-signin-heading"><%= __('form_signup_title') %></h2>
					<div class="form-group">
						<label for="inputEmail"><%= __('form_signup_email_label') %>&nbsp;:</label>
						<input id="inputEmail"type="email" class="form-control input-lg" placeholder="<%= __('form_signup_email')%>" name="email" data-required data-pattern="^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$"/>
					</div>
					<div class="form-group">
						<label for="password"><%= __('form_signup_pw_label') %>&nbsp;:</label>
						<input id="password" type="password" class="form-control input-sm" placeholder="<%= __('form_signup_pw')%>" name="password" minlength="6" data-required />
					</div>
					<div class="form-group">
						<input id="passwordConf" type="password" class="form-control input-sm" placeholder="<%= __('form_signup_pw_conf')%>" name="confirmation" minlength="6" data-required data-conditional="confirmation"/>
					</div>
					<br/>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-success" value="<%= __('form_signup_submit') %>" />
					</div>
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form>
			</div>
		</div>
		<div class="row visible-sm-block visible-xs-block">
			<div class="highlight">
				<h2 class=""><%= __('download_title') %></h2>
				<p>
					<%= __("download_header") %>
				</p>
				<hr/>
				<p class="text-center">
				<a href="#" class="btn btn-md btn-warning install">
					<i class="fa fa-download fa-2x pull-left"></i><span><%= __('download_extension_web_browser') %></span>
				</a>
				<span class="help-block">
					<a href="/app" class="btn btn-link"><%= __("download_help_annouce") %></a>
				</span>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row lastbackspace highlight">
		<h4>backspace : <small><%= __('live') %></small></h4>
		<pre></pre>
	</div>
</div>