<tr data-id="<%- user.id %>" data-model="user">
	<td><i class="onlineoffline fa fa-check-circle"></i></td>
	<td><%- user.id %></td>
	<td><%- user.email %></td>
	<td><i class="fa <%- user.admin ? 'fa-star' : 'fa-star-o' %>"></i></td>
	<td><a href="/user/show/<%- user.id %>" class="btn btn-sm btn-primary">Show</a></td>
	<td><a href="/user/edit/<%- user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
	<td>
		<form class="destroyForm" action="/user/destroy/<%- user.id %>"  method="POST" >
			<input type="hidden" name="_method" value="delete" />
			<input type="hidden" name="_csrf" value="<%- csrf %>" />
				<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
		</form>
	</td>
</tr>