<tr data-id="<%= print.id %>" data-model="print">
	<td></td>
	<td><%= print.type.name %></td>
	<td><%= print.sentence %></td>
	<td><%= print.viewed %></td>
	<td><%= print.print %></td>
	<td>
		<a href="/<%= lang %>/poster/show/<%= print.id %>" class="btn btn-sm btn-primary showPrint"><%= labels.show %></a>
		<form class="destroyForm" action="/print/destroy/<%= print.id %>"  method="POST" >
			<input type="hidden" name="_method" value="delete" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			<input type="submit" class="btn btn-sm btn-danger" value="<%= labels.destroy %>" />
		</form>
	</td>
</tr>

<script type="text/javascript">
	$("[data-id='<%= print.id %>'] .destroyForm").on("submit", function(){
		
		var request = {
			url : $(this).attr("action"),
			type : $(this).attr("method"),
			data : {
				_method : $(this).find("[name='_method']").val(),
				_csrf : $(this).find("[name='_csrf']").val()
			}
		};
		$.ajax(request)
		.done(function(){
			$("table.prints [data-id='<%= print.id %>']").remove();
			if($("table.prints [data-id]").length == 0){
				skip-=limit;
			}
			getPrint(skip, displayPrint);
		})
		.fail(function(){
			window.location.reload();
		})
		return false;
	});
</script>